<div class="hero-unit">
  <h3 class="text-center">Witaj w Panelu administratora</h3>
	<p class="text-center">
		    <%= link_to("Wyloguj", {:action => 'logout'}, :class => 'btn btn-xs btn-warning') %>
	</p>


</div>
