/* Individual tab styles */

/*****************************/
/* Bar */
/*****************************/

.tabs-style-bar nav {
	background: rgba(40,44,42,0.05);
	font-size: 24px;

}


.tabs-style-bar nav ul {
	border: 4px solid transparent;
}

.tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #f7f7f7;
	color: #74777b;
	padding-bottom:10px;
	transition: background-color 0.2s, color 0.2s;
}

.tabs-style-bar nav ul li a:hover,
.tabs-style-bar nav ul li a:focus {
	color: #A40001 ;
	text-decoration: none;
}
.tabs-style-bar nav ul li span {margin: 0px 0 0px 10px;}

.tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.6em;
	font-family: 'Raleway', Arial, sans-serif;
	margin-top: -8px;
}

.tabs-style-bar nav ul li.tab-current a {
	background: #A40001 ;
	color: #fff;
}

/*****************************/
/* Icon box */
/*****************************/