

<footer>

		<div class="contains">
			<div class="row">
				<div class="col-lg-12">
					<h3>Śledź nas na:</h3>
				</div>

	<div class="align_center">

				<div class="footer_ico">
			                    <a href="https://www.facebook.com/pages/3d-Efekt/465720440242871"><span class="icon">
                                    <i aria-hidden="true" class="icon-facebook2"></i>
                                </span></a>
		</div>
				<div class="footer_ico">
			                    <span class="icon">
                                    <i aria-hidden="true" class="icon-twitter2"></i>
                                </span>
		</div>
				<div class="footer_ico">
			                    <span class="icon">
                                    <i aria-hidden="true" class="icon-youtube3"></i>
                                </span>
		</div>

		
	</div>


			</div>
			<p class="lewa"><small>All right reserved. &copy; 3D Effect</small></p>
		</div>

</footer>	