<div class="menu"></div>
<div class="contains">
    <div class="parnet">
        <div class="mobile_menu uber">


            <div class="logo">
                <a href="/public">
                    <img src="/assets/logo.png" alt="3d-efekt">
                </a>
            </div>

            <div class="menu_place">
                <nav id="menu" class="nav">
                   
                    <ul>
                        <li>
                            <a href="/public/about">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-home"></i>
                                </span>
                                <span><%= t('about') %>  </span>
                            </a>
                        </li>
                        <li>
                            <a href="/public/offer">
                                <span class="icon"> 
                                    <i aria-hidden="true" class="icon-clipboard"></i>
                                </span>
                                <span><%= t('offer') %> </span>
                            </a>
                        </li>
                        <li>
                            <a href="/public/gallery">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-camera"></i>
                                </span>
                                <span><%= t('gallery') %> </span>
                            </a>
                        </li>
                        <li>
                            <a href="/public/blog">
                                <span class="icon">
                                    <i aria-hidden="true" class="iconn-pencil2"></i>
                                </span>
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="/public/contact">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span><%= t('contact') %> </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
     </div>   
</div>