<div class="new_part">
        <h2>Nasza Oferta</h2>
</div>


<div class="contains">
    
    <div class="offers">
   
                <a href="">
             <div class="flip_it" data-flipper>
                <div class="front">
                        <div class='square-box'>
  

                                    <i aria-hidden="true" class="iconn-star-full"></i>

                                <p>Jarmarki / Targi / Festiwale</p>

                        </div>
                    </div>
            <div class="back">
                    <div class="thumb parent" 
                    style="background-image: url(/assets/targi.jpg);">
                        <p>Targi</p>
                    </div>
                </div>
            </div>
            </a>   

  
                            <a href="">
             <div class="flip_it" data-flipper>
                <div class="front">
                        <div class='square-box'>

                                
                                    <i aria-hidden="true" class=" iconn-sound"></i>

                                <p>Eventy</p>

                        </div>
                    </div>
            <div class="back">
                    <div class="thumb parent" 
                    style="background-image: url(/assets/piernik.jpg);">
                        <p>Eventy</p>
                    </div>
                </div>
            </div>
            </a>   
                            <a href="">
             <div class="flip_it" data-flipper>
                <div class="front">
                        <div class='square-box'>

                                
                                    <i aria-hidden="true" class="iconn-dice"></i>

                                <p>Produkcja dekoracji eventowych</p>

                        </div>
                    </div>
            <div class="back">
                    <div class="thumb parent" 
                    style="background-image: url(/assets/piec.jpg);">
                        <p>Dekoracje</p>
                    </div>
                </div>
            </div>
            </a>   


        <a href="">
             <div class="flip_it" data-flipper>
                <div class="front">
                        <div class='square-box'>

                                
                                <i aria-hidden="true" class="icon-home"></i>

                                <p>Wynajem domków</p>

                        </div>
                    </div>
            <div class="back">
                    <div class="thumb parent" 
                    style="background-image: url(/assets/domek.jpg);">
                        <p>Wynajem</p>
                    </div>
                </div>
            </div>
            </a>  

        </div>
</div>
