<div class="contains under">
    <div class="slider_partnership">

            <img src="/assets/partnerzy/auchan.jpg" alt="jarmarki master">
            <img src="/assets/partnerzy/cuprumarena.jpg" alt="factory">
            <img src="/assets/partnerzy/europacentralna-logo.jpg" alt="jarmarki targi">
            <img src="/assets/partnerzy/factory.jpg" alt="m1 master">
            <img src="/assets/partnerzy/m1.jpg" alt="galeria master">
            <img src="/assets/partnerzy/poznancitycenter-logo.jpg" alt="jarmarki auchan">
            <img src="/assets/partnerzy/galeriawisla.jpg" alt="cityCenter master">
            <img src="/assets/partnerzy/galeriaostrowiec.jpg" alt="galeria ostrowiec">
            <img src="/assets/partnerzy/manufaktura.jpg" alt="manufaktura">
            <img src="/assets/partnerzy/plejada.jpg" alt="plejada">
            <img src="/assets/partnerzy/regaty.jpg" alt="galeria wisła">
             <img src="/assets/partnerzy/galeriaaskana.jpg" alt="galeria wisła">
             <img src="/assets/partnerzy/galeriagwarna.jpg" alt="galeria wisła">
             <img src="/assets/partnerzy/galeriaostrawia-logo.jpg" alt="galeria wisła">


    </div>
</div>
