<div class="contains under">
    <div class="main_slider ">
        <% slider = Slider.order('position ASC') %>
        
        <% slider.each do |front| %>

                  <div class="slider_caption">
                    <%= image_tag(front.img, :alt => "Imprezy Master", :class =>"img-responsive") %>
                        <% if !front.name.blank? %>
                          <p><%= front.name %></p>
                        <% end %>  
                  </div>
        <% end %>

    </div>
</div>