<div class="contains">
    <div class="post about_us">
        <h1>Dwóch ludzi, jedna pasja: TRZY WYMIARY!</h1>
<p>
Łączy nas zamiłowanie do pracy w przestrzeni trójwymiarowej, od projektowania do konstruowania. 

Nasze pomysły materializujemy wykorzystując drukarki 3D.  Przeniesienie pomysłu z głowy do świata 

rzeczywistego jest niezwykłym doświadczeniem dlatego chcemy podzielić się nim z Tobą!

Zapraszamy do naszego Salonu i Pracowni w Kościanie, do śledzenia nas na facebook'u.
</p>
<p>     Polecana strona: 
<a class="btn" href="http://www.thingiverse.com">www.thingiverse.com</a>
</p>
    </div>
</div>
