
<div class="contains">
    <div class="posts">
        <h1>Oferta</h1>
        <h3>Cennik usług</h3>

<table class="table table-bordered">
    <thead>
        <th>Usługi</th>
        <th>Cena</th>
    </thead>
    <tbody>
    <tr>
        <td>Wydruk 3D z gotowego pliku(STL, OBJ, IGES)</td>
        
        <td>15zł/godz.*</td>
    </tr>
    <tr>
        <td>Konstruowanie 3D z dokumentacji 2D (JPG, GIF, DWG, DXF) Złożenia, projekty specjalne, wizualizacje, pomysły racjonalizatorskie, unowocześnienia</td>   
        <td>62zł/godz.</td>
    </tr>
    <tr><td>Skanowanie 3D</td><td>100zł/obiekt</td></tr>
    </tbody>    
</table>
    <p>*Czas wydruku zależny od wymagań wytrzymałościowych przedmiotu</p>
    <p>tab. 2. Cennik materiałów do druku 3d (cena za 1g)</p>
<table class="table table-bordered">
    <tr><td>PLA</td><td>0,24-0,34 zł</td></tr>
    <tr><td>ABS</td><td>0,24-0,34 zł</td></tr>
    <tr><td>LAYWOOD</td><td>0,42 zł</td></tr>
    <tr><td>NYLON</td><td>0,48 zł</td></tr>
    <tr><td>LAYBRICK</td><td>0,42 zł</td></tr>
    <tr><td>NINJAFLEX</td><td>0,73 zł</td></tr>
    <tr><td>CARBON 15%-CARBON 20%</td><td>0,90-0,35 zł</td></tr>
    <tr><td>BRONZEFILL</td><td>0,40 zł</td></tr>
    <tr><td>TGLASS</td><td>0,48 zł</td></tr>

</table>        
    </div>
</div>

